@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* fonts */
  --font-montserrat: "Montserrat", sans-serif;

  /* colors from the pallet*/
  /* some of these clash with default tailwind*/
  --color-radish-900: #d8489a;
  --color-radish-500: #efb6d7;
  --color-radish-100: #f7daeb;

  --color-lime-*: initial; /* remove default lime */
  --color-lime: #c2d64a;

  --color-cucumber: #20a359;

  --color-brown: #624002;

  --color-pepper: #48494b;

  --color-jicama: #f8ece0;

  --color-light-gray: #f5f5f5;
  --color-medium-gray: #dbdbdb;
  --color-dark-gray: #969696;

  /* misc, used for tags, pulled from the figma */
  --color-combo-bg: var(--color-jicama);
  --color-combo-text: var(--color-radish-900);

  --color-vegetable-bg: var(--color-lime);
  --color-vegetable-text: var(--color-pepper);

  --color-grain-bg: #e6bb72;
  --color-grain-text: var(--color-pepper);

  --color-subrecipe-bg: var(--color-medium-gray);
  --color-subrecipe-text: var(--color-pepper);

  --color-fruit-bg: #ea7105;
  --color-fruit-text: #ffffff;

  --color-entree-bg: var(--color-brown);
  --color-entree-text: #ffffff;
}
